:root {
    font-family: 'Lato', sans-serif;
    --color-body-bg: #fff;
    --font-size-standard: 16px;
    --color-black: #000;
    --color-white: #fff;
    --card-body-bg: #666;
}
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
html {
    font-family: var(--font-family);
    -ms-overflow-style: scrollbar;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}
.container {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
body {
    font-family: var(--font-family);
    background: var(--color-body-bg);
    font-size: var(--font-size-standard);
    font-weight: 400;
    word-wrap: break-word;
    color: var(--color-black);
    min-height: 100vh;
    overflow: auto;
}
.card {
    background: var(--card-body-bg);
    width: 400px;
    height: auto;
    padding: 15px 20px;
}
.card .card-header .card-title {
    font-size: 22px;
    font-weight: 600;
    color: var(--color-white);
}